.container {
  width: 1302px;
  margin: 0 auto;
}

.main-page {
  background-color: #161516;
}

.header {
  padding-top: 48px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__title {
  font-family: Montserrat;
  color: #FFFFFF;
  font-size: 31px;
}

img:last-child {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header__upper-right {
  display: flex;
  flex-direction: row;
}

.header__text {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.header__items, .header__price {
  font-family: Montserrat;
  color: #FFFFFF;
  font-size: 17px;
  text-align: end;
}

.header__bucket {
  width: 50px;;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  column-gap: 16px;
  height: calc(100vh - 238px);
  overflow-x: auto;
  padding-bottom: 65px;
}

.menu::-webkit-scrollbar {
  display: none;
  -webkit-overflow-scrolling: touch;
}